<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquitetura MVC</title>
</head>
<body>
    <header>
        <span>
            MVC
        </span>
        <nav>
            <div class="menu-show">
                <input type="checkbox" class="menu-click">
            </div>
            <ul class="meu">
                <li class="menu-item">
                    <a href="/" class="menu-link">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/tasks/create" class="menu-link">Adicionar Tarefa</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>{{{body}}}</main>
    
    <footer>Desenvolvido por <span>João Kleby</span></footer>
</body>
</html>